In [1]:
import os
import json

import numpy as np
import pandas as pd

In [2]:
method_names = {"attention": "Attentions", "alti": "ALTI"}

In [3]:
def collect_corrs(root_dir):
    # return a dict of dict of list. "finetuned" -> lang" -> { "notpretraining" : {"layer" : [], } , "pretraining" : {"layer" : []}}
    
    methods = ["attention", "alti"]
    langs = ["en", "it", "sp", "ge"]
    
    layers = 12
    
    collected_losses = dict()
    
    for method in ["attention", "alti"]:
        collected_losses[method] = dict()
        for finetuned in ["finetuned", "notfinetuned"]:
            collected_losses[method][finetuned] = dict()
            for lang in langs:
                collected_losses[method][finetuned][lang] = dict()
                collected_losses[method][finetuned][lang]["notpretraining"] = dict()
                collected_losses[method][finetuned][lang]["pretraining"] = dict()
                for l in range(layers):
                    collected_losses[method][finetuned][lang]["notpretraining"][l] = list()
                    collected_losses[method][finetuned][lang]["pretraining"][l] = list()
    depth = 2
    
    for subdir, dirs, files in os.walk(root_dir):
        if subdir[len(root_dir):].count(os.sep) == depth:
            for file_ in files:
                if file_ == "corrs_results.json":
                    with open(subdir + "/" + file_) as f:
                        d = json.load(f)
                                                       
                        method = subdir.split(os.sep)[-2]
                            
                        name_splitted = subdir.split("_")
                                                
                        if len(name_splitted) == 2: # not finetuned
                            finetuned = "notfinetuned"
                        else:
                            finetuned = "finetuned"

                        lang = name_splitted[-1]
                        pretrain = name_splitted[0].split(os.sep)[-1]
                                                
                        for l in range(layers):
                            collected_losses[method][finetuned][lang][pretrain][l] = list(d[method_names[method]][str(l)].values())
                
                
    return(collected_losses)

In [4]:
collected_corrs = collect_corrs("corrs")

## ATTENTIONS | Not Finetuned

### EN

In [5]:
en_pretraining = pd.DataFrame.from_dict(collected_corrs["attention"]["notfinetuned"]["en"]["pretraining"])

In [6]:
en_pretraining

,0,1,2,3,4,5,6,7,8,9,10,11
0,0.334246,0.200808,0.185498,0.030534,0.020099,-0.176694,-0.115760,-0.213094,-0.222898,-0.202630,-0.296051,0.501819
1,-0.352855,-0.201266,-0.190666,-0.045584,-0.032833,0.168817,0.120776,0.209932,0.231091,0.193599,0.275234,-0.485684
2,-0.346831,-0.211378,-0.211436,-0.061708,-0.045287,0.157600,0.110695,0.196355,0.217442,0.197586,0.293085,-0.492944
3,-0.348329,-0.219184,-0.204010,-0.055434,-0.046475,0.161801,0.112926,0.206774,0.225877,0.202593,0.298195,-0.497309
4,-0.337745,-0.213150,-0.208320,-0.047378,-0.035495,0.171375,0.114525,0.203711,0.217775,0.206888,0.301640,-0.502385
5,-0.342754,-0.212064,-0.199532,-0.044721,-0.031425,0.176157,0.120684,0.215663,0.226581,0.211707,0.307990,-0.498170
6,-0.314865,-0.206686,-0.204913,-0.051158,-0.040109,0.148936,0.103100,0.175593,0.193043,0.204915,0.299079,-0.467097
7,-0.303222,-0.178913,-0.156628,-0.024995,-0.008107,0.170272,0.109704,0.212442,0.203404,0.182537,0.278179,-0.445807

### IT

In [7]:
it_pretraining = pd.DataFrame.from_dict(collected_corrs["attention"]["notfinetuned"]["it"]["pretraining"])

In [8]:
it_pretraining

,0,1,2,3,4,5,6,7,8,9,10,11
0,0.170988,0.044768,0.165615,-0.025034,-0.033034,-0.217168,-0.162766,-0.177473,-0.197727,-0.046555,-0.278541,0.422304
1,-0.172763,-0.061013,-0.142965,0.043048,0.047479,0.220981,0.155822,0.199396,0.199994,0.041949,0.277228,-0.401947
2,-0.170672,-0.059593,-0.158724,0.017750,0.001645,0.191285,0.133056,0.166402,0.180764,0.042960,0.281444,-0.403718
3,-0.172876,-0.056536,-0.166161,0.030189,-0.002592,0.187623,0.130231,0.165802,0.184408,0.060640,0.298166,-0.411216
4,-0.173172,-0.053376,-0.174437,0.009919,-0.006850,0.188873,0.136515,0.158449,0.177167,0.037519,0.270366,-0.409448
5,-0.169481,-0.038877,-0.170353,0.026564,0.003247,0.183143,0.136349,0.156921,0.185775,0.061030,0.286473,-0.408460
6,-0.140220,-0.014947,-0.146543,0.021159,-0.024654,0.144116,0.091449,0.118698,0.148453,0.031950,0.255041,-0.354571
7,-0.141064,-0.025764,-0.164077,0.027842,0.014840,0.165210,0.125362,0.152057,0.178775,0.092519,0.261919,-0.349590

### SP

In [9]:
sp_pretraining = pd.DataFrame.from_dict(collected_corrs["attention"]["notfinetuned"]["sp"]["pretraining"])

In [10]:
sp_pretraining

,0,1,2,3,4,5,6,7,8,9,10,11
0,0.229459,-0.010738,0.055929,-0.133353,-0.249336,-0.418106,-0.264661,-0.310359,-0.298988,-0.149441,-0.281933,0.410309
1,-0.225721,-0.006938,-0.051655,0.133351,0.230330,0.389817,0.248773,0.301753,0.288826,0.148414,0.279131,-0.406684
2,-0.244500,-0.008020,-0.066558,0.114222,0.227575,0.389518,0.250296,0.301252,0.294598,0.154036,0.293793,-0.404061
3,-0.239180,0.003159,-0.067824,0.121856,0.237078,0.406125,0.260776,0.307210,0.296366,0.152747,0.297727,-0.407535
4,-0.236418,0.004988,-0.067885,0.120606,0.247177,0.408239,0.254290,0.307776,0.303422,0.156539,0.297432,-0.403322
5,-0.237527,0.010406,-0.063176,0.128854,0.249329,0.417518,0.272792,0.313132,0.305215,0.153947,0.301797,-0.410534
6,-0.212835,0.008250,-0.070943,0.121171,0.234151,0.356557,0.224255,0.275926,0.274945,0.140599,0.298829,-0.363801
7,-0.217717,0.015451,-0.048608,0.125429,0.244041,0.405327,0.263846,0.306791,0.284347,0.143098,0.271964,-0.394882

### GE

In [11]:
ge_pretraining = pd.DataFrame.from_dict(collected_corrs["attention"]["notfinetuned"]["ge"]["pretraining"])

In [12]:
ge_pretraining

,0,1,2,3,4,5,6,7,8,9,10,11
0,0.244301,0.089681,0.176443,0.104899,0.155559,0.014685,0.020579,-0.050732,-0.030318,0.045053,-0.200213,0.331293
1,-0.206683,-0.092580,-0.191391,-0.113504,-0.131268,-0.003902,-0.017805,0.053456,0.039785,-0.068574,0.161522,-0.286872
2,-0.241632,-0.094362,-0.200536,-0.131870,-0.178181,-0.048631,-0.050843,0.019343,0.005636,-0.049870,0.194870,-0.325956
3,-0.237360,-0.089466,-0.194887,-0.125065,-0.187778,-0.054238,-0.033438,0.014924,0.012219,-0.042929,0.204345,-0.319126
4,-0.244693,-0.090220,-0.186999,-0.118707,-0.170729,-0.053427,-0.053896,0.021755,0.004568,-0.044962,0.215255,-0.338340
5,-0.242656,-0.083779,-0.182707,-0.116260,-0.169989,-0.050507,-0.032110,0.021853,0.012079,-0.034742,0.219760,-0.332113
6,-0.244020,-0.090400,-0.175654,-0.110300,-0.166196,-0.069049,-0.075348,-0.012684,-0.009273,-0.036388,0.201507,-0.331145
7,-0.165439,-0.058774,-0.140993,-0.097972,-0.130100,-0.009355,0.017155,0.038628,0.045591,0.002412,0.171199,-0.247248

## ATTENTIONS | Fine-tuned

### EN

In [13]:
en_notpretraining_fine = pd.DataFrame.from_dict(collected_corrs["attention"]["finetuned"]["en"]["notpretraining"])
en_pretraining_fine = pd.DataFrame.from_dict(collected_corrs["attention"]["finetuned"]["en"]["pretraining"])

In [14]:
en_notpretraining_fine

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.023329,-0.067331,-0.144225,-0.617987,-0.731825,-0.882022,-0.919135,-0.923486,-0.929572,-0.929131,-0.930560,-0.929977
1,0.014259,0.059817,0.117607,0.573755,0.672997,0.826289,0.860983,0.862121,0.868303,0.869740,0.871523,0.871193
2,0.004063,0.054790,0.137338,0.604814,0.707176,0.864464,0.902825,0.905127,0.910902,0.912650,0.914543,0.914568
3,0.000971,0.054079,0.141882,0.600880,0.713651,0.871044,0.905826,0.915018,0.917847,0.920548,0.920763,0.921068
4,0.008033,0.063966,0.144632,0.617537,0.732545,0.886251,0.927807,0.931192,0.937425,0.938186,0.940572,0.940792
5,0.005483,0.066969,0.153467,0.617037,0.734010,0.883359,0.920802,0.928918,0.931561,0.933214,0.934233,0.934214
6,-0.021087,0.082411,0.141645,0.568756,0.670823,0.818848,0.857619,0.858995,0.863681,0.865303,0.867046,0.868358
7,0.023334,0.059027,0.142828,0.547914,0.654041,0.779154,0.796505,0.809341,0.806267,0.809079,0.807806,0.807750

In [15]:
en_pretraining_fine

,0,1,2,3,4,5,6,7,8,9,10,11
0,0.341421,0.163970,-0.279507,-0.530695,-0.081501,0.228808,-0.346218,-0.478790,-0.317663,0.807702,-0.957741,-0.502335
1,-0.358296,-0.166466,0.274049,0.510445,0.072088,-0.219734,0.328970,0.422828,0.241010,-0.750514,0.899962,0.420731
2,-0.353080,-0.177687,0.264067,0.512492,0.061922,-0.240048,0.330590,0.459104,0.288091,-0.784045,0.940685,0.484291
3,-0.354546,-0.184700,0.255595,0.517880,0.065778,-0.240973,0.329096,0.466773,0.296536,-0.796762,0.952717,0.509379
4,-0.345317,-0.178995,0.263581,0.529468,0.070430,-0.239624,0.340573,0.478438,0.315797,-0.813106,0.964593,0.514358
5,-0.349834,-0.176113,0.263582,0.528781,0.075309,-0.236921,0.333864,0.474778,0.312857,-0.807021,0.961407,0.520426
6,-0.321085,-0.181050,0.238456,0.472733,0.052780,-0.242036,0.287114,0.480911,0.323317,-0.738138,0.882844,0.533443
7,-0.310386,-0.142477,0.249680,0.471744,0.092252,-0.203043,0.286134,0.400786,0.240882,-0.701008,0.835386,0.431375

### IT

In [16]:
it_notpretraining_fine = pd.DataFrame.from_dict(collected_corrs["attention"]["finetuned"]["it"]["notpretraining"])
it_pretraining_fine = pd.DataFrame.from_dict(collected_corrs["attention"]["finetuned"]["it"]["pretraining"])

In [17]:
it_notpretraining_fine

,0,1,2,3,4,5,6,7,8,9,10,11
0,0.000887,0.054701,0.097956,0.485122,-0.546603,-0.042611,0.094955,0.488629,-0.839867,-0.835639,-0.870280,-0.873099
1,-0.003828,-0.067334,-0.074518,-0.452872,0.486303,0.001810,-0.129033,-0.549128,0.730776,0.772757,0.756717,0.768073
2,0.003963,-0.058031,-0.093531,-0.483790,0.539840,0.072091,-0.071074,-0.429230,0.845384,0.794866,0.871686,0.868459
3,0.017221,-0.052327,-0.079037,-0.469205,0.545061,0.083460,-0.066132,-0.402688,0.860559,0.805419,0.888502,0.881281
4,0.008758,-0.048365,-0.100881,-0.493667,0.558402,0.094094,-0.052597,-0.396738,0.891694,0.830575,0.918496,0.912718
5,0.025858,-0.043263,-0.095511,-0.477185,0.549422,0.095792,-0.051542,-0.377964,0.885927,0.819636,0.912247,0.903702
6,0.013560,-0.032783,-0.091557,-0.437269,0.493198,0.122820,0.016866,-0.232300,0.825689,0.732286,0.842359,0.831177
7,0.012558,-0.026241,-0.056238,-0.374585,0.439451,0.037610,-0.091232,-0.339461,0.689544,0.663426,0.715689,0.712229

In [18]:
it_pretraining_fine

,0,1,2,3,4,5,6,7,8,9,10,11
0,0.168091,0.431724,0.055259,-0.295652,0.053827,0.323440,-0.382574,0.386312,-0.304686,-0.145827,-0.922250,0.042540
1,-0.169692,-0.423232,-0.050358,0.263275,-0.048113,-0.246966,0.428139,-0.356907,0.211711,0.249632,0.793825,0.096564
2,-0.168308,-0.419989,-0.055551,0.289568,-0.052610,-0.328690,0.350037,-0.364714,0.276881,0.098888,0.901694,-0.091097
3,-0.170400,-0.417702,-0.055210,0.294941,-0.055708,-0.335754,0.340557,-0.371927,0.286149,0.075565,0.916294,-0.115141
4,-0.171035,-0.420940,-0.057265,0.296695,-0.055087,-0.350341,0.334062,-0.368927,0.312027,0.056204,0.951858,-0.146164
5,-0.167131,-0.406790,-0.053664,0.300112,-0.067257,-0.344846,0.327708,-0.376388,0.305659,0.051844,0.944909,-0.145983
6,-0.138594,-0.330464,-0.016964,0.297144,-0.041573,-0.331218,0.215443,-0.263205,0.274030,-0.108795,0.851204,-0.288029
7,-0.141074,-0.346831,-0.062292,0.236842,-0.070044,-0.264929,0.282168,-0.319311,0.261522,0.087475,0.741228,-0.063585

### SP

In [19]:
sp_notpretraining_fine = pd.DataFrame.from_dict(collected_corrs["attention"]["finetuned"]["sp"]["notpretraining"])
sp_pretraining_fine = pd.DataFrame.from_dict(collected_corrs["attention"]["finetuned"]["sp"]["pretraining"])

In [20]:
sp_notpretraining_fine

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.087313,-0.296714,-0.180931,-0.537132,-0.775564,-0.745958,-0.732442,-0.051304,-0.899289,-0.904407,-0.905160,-0.905385
1,0.075392,0.282643,0.157201,0.496905,0.720591,0.688930,0.666283,-0.006074,0.836968,0.845820,0.847239,0.846685
2,0.067404,0.289463,0.177368,0.529206,0.761731,0.738196,0.719304,0.066957,0.886207,0.894736,0.898070,0.898032
3,0.070975,0.296005,0.178940,0.538034,0.776507,0.748218,0.732269,0.077437,0.900653,0.911146,0.911905,0.911436
4,0.074140,0.298155,0.187049,0.547233,0.784599,0.758530,0.747865,0.094118,0.912963,0.917639,0.920817,0.921288
5,0.071238,0.306143,0.179965,0.551342,0.788563,0.759337,0.749913,0.092690,0.910917,0.920355,0.920761,0.920437
6,0.024682,0.263081,0.193439,0.530359,0.725501,0.719190,0.738770,0.259748,0.815734,0.820523,0.823501,0.823583
7,0.081103,0.290912,0.159020,0.498650,0.706261,0.673203,0.668143,0.053513,0.806693,0.812223,0.810685,0.809953

In [21]:
sp_pretraining_fine

,0,1,2,3,4,5,6,7,8,9,10,11
0,0.212150,0.052264,-0.159696,-0.327313,-0.365805,-0.614401,-0.764770,-0.750351,-0.277137,-0.482990,-0.931978,-0.151876
1,-0.210805,-0.072116,0.158663,0.317668,0.333114,0.567868,0.711067,0.698839,0.223962,0.419152,0.878774,0.149432
2,-0.229166,-0.085141,0.156699,0.308660,0.341663,0.569311,0.728019,0.715731,0.262634,0.458946,0.904981,0.154763
3,-0.222983,-0.080781,0.158866,0.308155,0.350417,0.580650,0.737078,0.730878,0.281532,0.483293,0.922170,0.167349
4,-0.220041,-0.067279,0.153265,0.320383,0.359402,0.593471,0.756618,0.744343,0.278318,0.482184,0.926697,0.154781
5,-0.220593,-0.068970,0.157992,0.319652,0.359556,0.596083,0.750662,0.746763,0.296811,0.498902,0.931806,0.166561
6,-0.197763,-0.080714,0.124929,0.285088,0.288136,0.476812,0.628310,0.649139,0.286487,0.458022,0.806075,0.182286
7,-0.201591,-0.064741,0.160265,0.293174,0.342047,0.555597,0.670501,0.674857,0.264459,0.441414,0.836933,0.141123

### GE

In [22]:
ge_notpretraining_fine = pd.DataFrame.from_dict(collected_corrs["attention"]["finetuned"]["ge"]["notpretraining"])
ge_pretraining_fine = pd.DataFrame.from_dict(collected_corrs["attention"]["finetuned"]["ge"]["pretraining"])

In [23]:
ge_notpretraining_fine

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.047747,0.141707,0.062787,-0.568256,-0.809579,-0.838321,-0.694919,-0.141170,-0.888593,-0.888920,-0.893117,-0.890191
1,0.053582,-0.120384,-0.074425,0.460184,0.679343,0.705477,0.541833,0.010028,0.748990,0.749178,0.750287,0.761009
2,0.040011,-0.128081,-0.065487,0.565287,0.800779,0.831832,0.688877,0.198223,0.877348,0.876551,0.884089,0.875780
3,0.033338,-0.112796,-0.059975,0.579124,0.811219,0.846306,0.701211,0.213424,0.891359,0.888225,0.894915,0.889373
4,0.029380,-0.120986,-0.054259,0.605326,0.837761,0.876684,0.746986,0.231687,0.930127,0.928779,0.936189,0.927745
5,0.030440,-0.117219,-0.049771,0.598948,0.826601,0.863280,0.730529,0.225216,0.915137,0.913312,0.919564,0.914199
6,0.006169,-0.101400,-0.035001,0.569240,0.783867,0.820541,0.745843,0.337066,0.860889,0.860890,0.868638,0.861776
7,0.046676,-0.071701,-0.051439,0.421342,0.576633,0.598556,0.492521,0.081799,0.640472,0.641108,0.640881,0.649926

In [24]:
ge_pretraining_fine

,0,1,2,3,4,5,6,7,8,9,10,11
0,0.241682,-0.148882,0.040535,0.010287,-0.459982,0.263659,-0.491026,0.789949,0.653035,-0.228217,-0.798739,-0.200616
1,-0.204415,0.121188,-0.060554,0.021075,0.397178,-0.181886,0.473953,-0.699545,-0.532438,0.219688,0.750392,0.165811
2,-0.237388,0.140484,-0.053916,-0.023299,0.399768,-0.282372,0.444354,-0.770935,-0.640289,0.179614,0.738662,0.138849
3,-0.234934,0.152541,-0.059288,-0.032569,0.410397,-0.270321,0.457368,-0.769150,-0.644425,0.220179,0.757826,0.169584
4,-0.241688,0.148604,-0.037298,-0.028094,0.435769,-0.311923,0.464027,-0.800096,-0.684512,0.197951,0.780986,0.177009
5,-0.240141,0.159550,-0.048738,-0.029115,0.434215,-0.295423,0.464344,-0.790580,-0.673994,0.223254,0.780764,0.189713
6,-0.240246,0.130675,-0.037116,-0.069806,0.378888,-0.329557,0.355385,-0.714168,-0.632763,0.218584,0.700893,0.265040
7,-0.167353,0.129196,-0.051539,-0.004336,0.373268,-0.174516,0.384853,-0.584422,-0.480753,0.216254,0.624799,0.177132

## ALTI | Not-finetuned

### EN

In [ ]:
en_pretraining = pd.DataFrame.from_dict(collected_corrs["alti"]["notfinetuned"]["en"]["pretraining"])

In [ ]:
en_pretraining

## IT

In [ ]:
it_pretraining = pd.DataFrame.from_dict(collected_corrs["alti"]["notfinetuned"]["it"]["pretraining"])

In [ ]:
it_pretraining

### SP

In [ ]:
sp_pretraining = pd.DataFrame.from_dict(collected_corrs["alti"]["notfinetuned"]["sp"]["pretraining"])

In [ ]:
sp_pretraining

### GE

In [ ]:
ge_pretraining = pd.DataFrame.from_dict(collected_corrs["alti"]["notfinetuned"]["ge"]["pretraining"])

In [ ]:
ge_pretraining

## ALTI | Finetuned

### EN

In [ ]:
en_notpretraining_fine = pd.DataFrame.from_dict(collected_corrs["alti"]["finetuned"]["en"]["notpretraining"])
en_pretraining_fine = pd.DataFrame.from_dict(collected_corrs["alti"]["finetuned"]["en"]["pretraining"])

In [ ]:
en_notpretraining_fine

In [ ]:
en_pretraining_fine

### IT

In [ ]:
it_notpretraining_fine = pd.DataFrame.from_dict(collected_corrs["alti"]["finetuned"]["it"]["notpretraining"])
it_pretraining_fine = pd.DataFrame.from_dict(collected_corrs["alti"]["finetuned"]["it"]["pretraining"])

In [ ]:
it_notpretraining_fine

In [ ]:
it_pretraining_fine

### SP

In [ ]:
sp_notpretraining_fine = pd.DataFrame.from_dict(collected_corrs["alti"]["finetuned"]["sp"]["notpretraining"])
sp_pretraining_fine = pd.DataFrame.from_dict(collected_corrs["alti"]["finetuned"]["sp"]["pretraining"])

In [ ]:
sp_notpretraining_fine

In [ ]:
sp_pretraining_fine

### GE

In [ ]:
ge_notpretraining_fine = pd.DataFrame.from_dict(collected_corrs["alti"]["finetuned"]["ge"]["notpretraining"])
ge_pretraining_fine = pd.DataFrame.from_dict(collected_corrs["alti"]["finetuned"]["ge"]["pretraining"])

In [ ]:
ge_notpretraining_fine

In [ ]:
ge_pretraining_fine